#filters {
  display: flex;
  flex-direction: column;
}

#filters_buttons {
  display: flex;
  gap: 20px;
}

#filters_tags {
  display: flex;
  gap: 20px;
}

.filters_tags_active {
  padding-top: 20px;
}

.filter_tag_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  border-radius: 5px;
  padding: 0 10px;
}

.filter_tag_p {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.fa-times-circle {
  color: white;
  padding-left: 13px;
  cursor: pointer;
}

.filter {
  padding-top: 20px;
}

.filter_btn {
  width: 170px;
  padding: 20px;
  font-family: "Lato";
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  border: none;
  cursor: pointer;
  position: relative;
}

/* filter_list >> filter_form */
.filter_btn,
.filter_form {
  color: white;
  border-radius: 5px;
}

.filter_form {
  display: none;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

#filter_btn_ingredient,
#input_ingredient,
#filter_list_ingredient,
.color_tag_ingredient {
  background-color: #3282f7;
}

#filter_btn_appliance,
#input_appliance,
#filter_list_appliance,
.color_tag_appliance {
  background-color: #68d9a4;
}

#filter_btn_ustensil,
#input_ustensil,
#filter_list_ustensil,
.color_tag_ustensil {
  background-color: #ed6454;
}

.filter_input {
  width: 667px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-family: "Lato";
  font-size: 18px;
}

.filter_input_active {
  border-radius: 5px 5px 0 0;
}

.filter_input::placeholder {
  color: #ffffffa6;
  font-weight: bolder;
}

.filter_input:focus-visible {
  outline: none;
}

.filter_chevron_up {
  position: absolute;
  right: 15px;
  top: 22px;
}

.filter_close {
  position: absolute;
  top: 22px;
  right: 15px;
}

/* list_option >> filter_list */
.filter_list{
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 10px;
  position: absolute;
  height: 397px;
  width: 667px;
  background: black;
  padding: 0 16px 19px;
  border-radius: 0 0 5px 5px;
  overflow-x: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 254, 254);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.562);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.795);
}

.filter_li {
  color: white;
  width: 150px;
  cursor: pointer;
}

.filter_li:hover {
  font-weight: bolder;
  width: 155px;
}