#filters {
  display: flex;
  gap: 20px;
}

.filter {
  /* position: relative; */
  /* font-weight: bold; */
  padding-top: 20px;
}

.filter_btn {
  width: 170px;
  padding: 20px;
  font-family: "Lato";
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  border: none;
  cursor: pointer;
  position: relative;
}

.filter_btn,
.filter_list {
  /* position: absolute;
  top: -25px;
  left: 80px; */
  color: white;
  border-radius: 5px;
}

.filter_list {
  display: none;
  cursor: pointer;
  z-index: 1;
  position: relative;
}

#filter_btn_ingredient,
#input_ingredient,
#filter_list_ingredient {
  background-color: #3282f7;
}

#filter_btn_appareil,
#input_appareil,
#filter_list_appareil {
  background-color: #68d9a4;
}

#filter_btn_ustensile,
#input_ustensile,
#filter_list_ustensile {
  background-color: #ed6454;
}

.filter_input {
  width: 667px;
  border: none;
  border-radius: 5px;
  padding: 20px;
  color: white;
  font-family: "Lato";
  font-size: 18px;
}

.filter_input_active {
  border-radius: 5px 5px 0 0;
}

.filter_input::placeholder {
  color: #ffffffa6;
  /* font-family: "Lato"; */
  /* font-size: 18px; */
  font-weight: bolder;
}

.filter_input:focus-visible {
  outline: none;
}

.filter_chevron_up {
  position: absolute;
  right: 15px;
  top: 22px;
}

.filter_close {
  position: absolute;
  top: 22px;
  right: 15px;
}

.list_option {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 70px;
  row-gap: 10px;
  position: absolute;
  height: 397px;
  width: 667px;
  background: black;
  padding: 0 16px 19px;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}