header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-family: "DM Sans";
  font-weight: 700;
  color: #d04f4f;
}

img {
  width: 60px;
}

#search {
  margin-bottom: 20px;
}

#search_recipe {
  width: 100%;
  height: 69px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
  padding-left: 24px;
  outline: none;
  font-size: 18px;
  font-family: "Lato";
}

#search_recipe::placeholder {
  color: #adadad;
}

#search_btn_recipe {
  font-size: 32px;
  position: absolute;
  top: 170px;
  right: 65px;
  border: none;
  background-color: #e7e7e7;
}

/* RECIPE SECTION */
#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 50px;
  column-gap: 5%;
}

/* RECIPE CARD */
.recipe_card {
  flex-basis: 30%;
  height: 364px;
  min-width: 380px;
}

.recipe_link {
  text-decoration: none;
  color: black;
}

.recipe_img {
  height: 178px;
  min-width: 380px;
  background-color: #c7bebe;
  border-radius: 5px 5px 0 0;
}

.recipe_content {
  background-color: #e7e7e7;
  height: 186px;
  min-width: 380px;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.recipe_header {
  display: flex;
  justify-content: space-between;
  text-align: start;
}

.recipe_header h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe_time {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-left: 15px;
  max-width: 170px;
  min-width: 109px;
}

.recipe_minute {
  font-weight: 700;
  padding-left: 10px;
}

.recipe_details {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  gap: 5px;
}

.recipe_ingredients {
  flex-basis: 50%;
}

.recipe_ingredients_list li {
  display: flex;
  flex-direction: row;
}

.recipe_ingredient {
  font-weight: bolder;
}

.recipe_description {
  flex-basis: 50%;
}

.recipe_description_text {
  height: 98px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}