@import url(index.css);
@import url(filter.css);
@import url(reset.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto&display=swap");

body {
  margin: 20px 30px;
  font-family: "Lato";
  font-size: 18px;
}

/* RESPONSIVE */
/* Extra Large Desktop */
@media screen and (min-width: 2501px){
  body {
    max-width: 1800px;
    margin: 50px auto;
  }
}

/* Large Desktop */
@media screen and (min-width: 1440px) and (max-width: 2500px){
  body {
    max-width: 1240px;
    margin: 20px auto;
  }
}

/* Small Desktop */
@media screen and (min-width: 851px) and (max-width: 1260px) {
  #recipes {
    grid-template-columns: repeat(2, 1fr);
  }
  .filter_form, .filter_input, .filter_list  {
    width: 443px;
  }
}
@media screen and (max-width: 850px) {
  #recipes {
    grid-template-columns:62.5%; 
    justify-content: center; 
  }
}

/* Tablette */
@media screen and (min-width: 426px) and (max-width: 768px) {
  #recipes {
    grid-template-columns: 1fr; 
    justify-content: center; 
  }
  #filters_buttons {
    flex-direction: column;
  }
  .filter_btn {
    width: 100%;
  }
  .filter_input, .filter_list  {
    width: 708px;
  }
  .filter_li {
    width: 200px;
  }
}

/* Mobile */
@media screen and (max-width: 425px) {
  body {
    margin: 10px 10px;
  }
  #filters_buttons {
    flex-direction: column;
  }
  .filter_btn {
    width: 100%;
  }
  .filter_form, .filter_input, .filter_list {
    width: 405px;
  }
  .filter_list {
    gap: 10px 10px;
  }
  .filter_li {
    width: 165px;
  }
  .filter_input {
    font-size: 18px;
  }
  #recipes {
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }
  #search_recipe {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 70px;
  }
  .search_btn_cross {
    right: 75px;
  }
  #search_btn_recipe {
    font-size: 25px;
    top: 20px;
    right: 25px;
  }
  .recipe_card {
    transform: scale(0.85);
  }
}

/* Mobile Medium */
@media screen and (max-width: 375px) {
  .filter_form, .filter_input, .filter_list {
    width: 355px;
  }
}

/* Mobile Extra Small */
@media screen and (max-width: 320px) {
  .filter_form, .filter_input, .filter_list  {
    width: 300px;
  }
  .filter_li {
    width: 284px;
  }
  .recipe_card {
    transform: scale(0.8);
  }
}